* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  position: sticky;
  top: 0;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 108px;
  max-height: 108px;
  background-color: #223577;
}
ul li {
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
ul li a {
  text-decoration: none;
  font-size: 12px;
  color: rgb(216, 216, 216);
  cursor: pointer;
  padding: 0 30px;
}
ul li a:hover {
  color: white;
}
.container {
  background-color: #303134;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.box {
  background-color: #202124;
  display: flex;
  flex-direction: column;
}
.box-item {
  color: rgb(84, 84, 251);
  display: flex;
  border: 0.2px solid grey;
  padding: 15px 20px;
  min-width: 600px;
  max-width: 600px;
  min-height: 160px;
  max-height: 160px;
  justify-content: space-between;
  align-items: center;
}
.box-item img {
  width: 100px !important;
  height: 100px !important;
  border-radius: 10px;
  margin-left: 5px;
}
.box-item h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.box-item p {
  color: #d4d4d4;
  font-size: 12px;
}
@media screen and (max-width: 850px) {
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .box {
    flex-direction: column;
  }
  .box-item {
    min-width: 100vw;
    max-width: 600px;
    min-height: 200px;
    max-height: 200px;
  }
  ul li a {
    font-size: 10px;
    padding: 0 8px;
  }
  .box-item h2 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .box-item p {
    color: #d4d4d4;
    font-size: 11px;
  }
}
